@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
}

.nav{
    display: inline-block;
}

.bannerContainer{
    width: 100%;
    height: 40vh;
}

.banner{
    height: 100%;
    width: 100%;
}

/************ Animaciones de los botones de navegacion ************/
*,
*:before,
*:after{
  box-sizing: border-box;
}

.botonera{
    display: flex;
    position:absolute;
    top: 30px;
    right: 100px;
    transform: translate(0, 0);
    background-color: transparent;
    
}

.buttonNav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 35px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    border: 3px solid rgb(248 225 46);
    color: rgb(0, 0, 0);
    font: 12px 'Montserrat', Futura, sans-serif;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    background: #f8e12ead;
    transition: all .35s;
}

.buttonNav:before,
.buttonNav:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: rgb(245 219 46);
  z-index: -1;
  transition: all .35s;
}

.buttonNav:before{
  opacity: .5;
}

.buttonNav:after{
  transition-delay: .2s;
}

.buttonNav:hover{
  color: #161616;
}

.buttonNav:hover:before,
.buttonNav:hover:after{
  top: 0;
}

/************ Actual page nav button Start ************/

.buttonNav[href="#"]{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:underline;
    background-color: rgb(246 222 46);
    color: black;
    border: 3px solid rgb(248 225 46 / 0%);
    
}
.buttonNav[href="#"]:hover{
    background-color: rgb(246 222 46);
    color: black;
    border: 3px solid rgb(248 225 46 / 0%);
}
.buttonNav[href="#"]::before{
    background-color: rgb(246 222 46);
    color: black;
    border: 3px solid rgb(248 225 46 / 0%);
}
.buttonNav[href="#"]::after{
    background-color: rgb(246 222 46);
    color: black;
    border: 3px solid rgb(248 225 46 / 0%);
}


/************ Actual page nav button End ************/


.botones{

    font: 14px 'Montserrat', Futura, sans-serif;
    border: 1px solid rgb(191, 68, 47);;
}

h1{
    color:rgb(95 161 153);
    margin-left: 15px;
    font: 30px 'Montserrat', Futura, sans-serif;
}

/************ Home Page Start ************/
.indexSection{
    display: flex;
    height: 50vh;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

h2{
    color:rgb(95 161 153);
    font: 20px 'Montserrat', Futura, sans-serif;
    font-weight: bold;
    height: 5vh;
    min-width: 100vw;
    text-align: center;
    border: 1px solid rgb(95 161 153);
}

.logoContainer{
    width: 20vw;
}

.logo{
    width: 100%;
}

.fechasContainer{
    color: rgb(211, 211, 211);
    font: 14px 'Montserrat', Futura, sans-serif;
    width: 20vw;
    /* margin-top: 20px;
    vertical-align: top;
    
    max-width: 30vw;
    display: inline-block;
    margin-left: 85px; */
}

.imagenContainer{
    width: 20vw;
    /* vertical-align: top;
    margin-top: 20px;
    margin-left: 60px;
    
    display: inline-block; */
}
.imagenIndex{
    width: 100%;
}
/************ Home Page End  ************/


/************ Contact Page Start ************/
.contactSection{
    display: inline-block;
    height: 50vh;
    font: 14px 'Montserrat', Futura, sans-serif;
    color: rgb(211, 211, 211);
}

.contactInfo{
    margin-top: 85px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
}
.contactImage{
    width: 25vw;
    margin-left: 30px;
    margin-top: 30px;
    vertical-align: top;
}

.email{
    color: rgb(246 222 46);
}

/************ Contact Page End ************/

/************ About Page Start ************/

.aboutSection{
    display: flex;
    font: 14px 'Montserrat', Futura, sans-serif;
    color: rgb(211, 211, 211);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* display: inline-block;
    height: 50vh;
    font: 14px 'Montserrat', Futura, sans-serif;
    color: rgb(211, 211, 211); */
}
.aboutInfo{
    width: 43vw;
    margin-top: 10px;
}

.aboutImage{
    width: 20vw;
}
.aboutText{
    width: 43vw;
}
.aboutText p{
    font-size: 1.2vw;
}
    
    /* margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
    width: 60vw;

/************ About Page End ************/